@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --pink: #f72585;
    --blue: #3a86ff;
    --dark-blue: #0353a4;
    --light-gray: #e9ecef;
    --gray: #696d7d
}

div {
    font-family: 'Secular One','sans-serif';
    font-size: 30px;
    text-align: center;
}

button {
    font-family: 'Secular One','sans-serif';
    font-size: 25px;

    width: 200px;
    height: 50px;

    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
}

.title-label {
    font-family: 'Secular One','sans-serif';
    font-size: 50px;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

button:hover {
    background-color: var(--light-gray);
}

/* displayStart */

.play-button-container {
    display: flex;
    justify-content: center;
}

/* displayPlaceShip */

.main-container {
    display: flex;
    padding: 0px 30px 0px 30px;
    gap: 30px;
    justify-content: center;
}

.placement-grid {
    position: relative;
    min-height: 300px;
    min-width: 300px;

    display: grid;
    gap: 4px;
}

.placement-grid>div.active {
    background-color: red;
}

.placement-grid>div.occupied {
    background-color: var(--gray);
    outline: 2px solid black;
}

.placement-grid>div {
    background-color: var(--blue);
}

.rotate-button {
    position: absolute;
    bottom: -80px;
    left: 50px;
}

/* displayAttack */

.board-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.player-board , .enemy-board {
    position: relative;
    height: 300px;
    width: 300px;

    display: grid;
    gap: 2px;
}

.player-board,.enemy-board {
    background-color: var(--dark-blue);
}

.player-board>div , .enemy-board>div {
    background-color: var(--blue);
}

.player-board>div.occupied {
    background-color: var(--gray);
    outline: 2px solid black;
}

.enemy-board>div:hover {
    background-color: red;
}

.enemy-board>div.hit , .player-board>div.hit {
    background-color: red;
}

.enemy-board>div.miss , .player-board>div.miss {
    background-color: var(--dark-blue);
}

div.board-label {
    position: absolute;
    bottom: -60px;
    left: 50px;
    width: 200px;
    background-color: white;
}

div.board-label:hover {
    background-color: white;
}