/* displayPlaceShip */

.ships-container {
    background-color: blue;
}

.ship {
    height: 20px;
    background-color: red;
}

.placement-grid {
    height: 300px;
    width: 300px;

    display: grid;
    gap: 4px;
}

.placement-grid>div.active {
    background-color: red;
}

.placement-grid>div {
    background-color: orange;
}

/* displayAttack */

.player-board {
    height: 200px;
    width: 200px;

    display: grid;
    gap: 4px;

    background-color: black;
}

.enemy-board {
    height: 200px;
    width: 200px;

    display: grid;
    gap: 4px;

    background-color: red;
}