@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

:root {
    --pink: #f72585;
    --blue: #3a86ff;
    --light-gray: #e9ecef
}

.title-label {
    font-family: 'Secular One','sans-serif';
    font-size: 50px;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    font-family: 'Secular One','sans-serif';
    font-size: 25px;

    width: 200px;
    height: 50px;

    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: var(--light-gray);
}

/* displayStart */

.play-button-container {
    display: flex;
    justify-content: center;
}

/* displayPlaceShip */

.ships-container {
    background-color: blue;
}

.ship {
    height: 20px;
    background-color: red;
}

.placement-grid {
    height: 300px;
    width: 300px;

    display: grid;
    gap: 4px;
}

.placement-grid>div.active {
    background-color: red;
}

.placement-grid>div.occupied {
    background-color: black;
}

.placement-grid>div {
    background-color: orange;
}

/* displayAttack */

.player-board , .enemy-board {
    height: 200px;
    width: 200px;

    display: grid;
    gap: 2px;
}

.player-board {
    background-color: black;
}

.enemy-board {
    background-color: red;
}

.player-board>div , .enemy-board>div {
    background-color: orange;
}

.player-board>div.occupied {
    background-color: black;
}

.enemy-board>div:hover {
    background-color: green;
}

.enemy-board>div.active {
    background-color: red;
}

.enemy-board>div.hit , .player-board>div.hit {
    background-color: pink;
}

.enemy-board>div.miss , .player-board>div.miss {
    background-color: blue;
}